.header {
    
    height: 3.3em;
    background-image: linear-gradient(rgb(146, 204, 231), rgb(255,255,224));
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
        width: 12rem;
        position: absolute;
        left: 0px;
        top: 52%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
            display: block;
            width: 100%;
            margin: 0;
        }
    }
}